<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="s3StorageConfiguration" type="ContentStorage.Configuration.AwsS3StorageConfigurationSection, ContentStorage" />
    <section name="azureStorageConfiguration" type="ContentStorage.Configuration.AzureStorageConfigurationSection, ContentStorage" />
    <section name="fileStorageConfiguration" type="ContentStorage.Configuration.FileStorageConfigurationSection, ContentStorage" />
  </configSections>

  <s3StorageConfiguration
    accessKey="AKIAIFEFI3DHOSIMQOFQ"
    secretKey="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"
    bucketName="imageStorageBucket"
  />
  
  <azureStorageConfiguration 
    connectionStringKey="AzureBlobStorageConnectionString"
    containerName="imageStorageContainer"
  />

  <sqlStorageConfiguration
    connectionString =""  
  />
  
  <fileStorageConfiguration
    fileStorageDirectory="Storage\Images"
  />
  
</configuration>